.ticket {
  margin-top: 20px;
  text-align: center;
}

.powerball {
  margin-top: 10px;
}

.number {
  margin: 0 2px;
}

.matching {
  border: 2px solid green;
}

.nonMatching {
  border: 2px solid red;
}
